/* 시공간 button basic*/
.custom-button.timespace {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid #2d4856; /* Border color */
    background-color: #FFFFFF; /* Transparent background */
    color: #2d4856;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 4px 0px #2d4856; /* Shadow */
    position: relative;
  }
  
  .custom-button.timespace:hover {
    background-color: #FFFFFF;
    color: #2d4856;
    box-shadow: 0px 6px 0px #2d4856; /* Shadow maintained */
    transform: translateY(-2px); /* Slight upward movement */
  }
  
  .custom-button.timespace:active {
    background-color: #FFFFFF;
    color: #2d4856;
    box-shadow: none; /* Shadow removed */
    transform: translateY(4px); /* Button pressed effect */
  }

  /* 시공간 button 이중테두리 스타일 */
.custom-button.timespace2 {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #2d4856;
  transition: all 0.2s ease;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 4px 0px #2d4856;
  position: relative;
  border: 2px solid #2d4856; /* 첫 번째 테두리 */
}

.custom-button.timespace2::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -4px;
  border: 2px solid #2d4856; /* 두 번째 테두리 */
  border-radius: 10px;
  pointer-events: none;
}

/* Hover 상태 */
.custom-button.timespace2:hover {
  background-color: #f2f2f2;
  color: #2d4856;
  box-shadow: 0px 6px 0px #2d4856;
  transform: translateY(-2px);
}

/* Clicked 상태 */
.custom-button.timespace2:active {
  background-color: #e0e0e0;
  color: #2d4856;
  box-shadow: none;
  transform: translateY(4px);
}

/* 시공간 button Danger 스타일 */
.custom-button.timespace3 {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  color: #d9534f; /* Danger 색상 */
  border: 2px solid #d9534f;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  transition: color 0.4s ease;
  box-shadow: 0px 4px 0px #d9534f;
}

.custom-button.timespace3::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(to right, #ffffff, #f8d7da, #ffffff);
  transition: transform 0.4s ease;
  z-index: 0;
}

.custom-button.timespace3:hover::before {
  transform: translateX(50%);
}

.custom-button.timespace3:hover {
  color: #d9534f;
  box-shadow: 0px 6px 0px #d9534f;
}

.custom-button.timespace3:active {
  transform: translateY(4px);
  box-shadow: none;
}

.custom-button.timespace3 span {
  position: relative;
  z-index: 1;
}

